@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.min.css';



body {
  color: antiquewhite;
  margin: 0;

  background: url('background.jpg') repeat;
  animation: moveBackground 20s linear infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

/* .card-container {
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-top {
  width: 100%;
  height: 2%;
}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
} */

/* Visualization page's css */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  max-width: 800px;

  margin: 10px auto;

  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}


.chart-container {
  margin-bottom: 30px;
}

.edit-container {
  margin-top: 20px;
}

.edit-item {
  margin-bottom: 10px;
}

.sign-out-button {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  /* Green color for success */
  /* Green color for success */
  color: #556581;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.edit-button,
.add-button {
  padding: 8px 15px;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;

}

.edit-button:hover,
.add-button:hover {
  background-color: #e6e6e6;
}

.projectdetails {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;

}

.edit-button:hover,
.add-button:hover {
  background-color: #e6e6e6;
}

.projectdetails {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

/* Uncomment and update the below styles if needed
.card-wrapper {
  margin-top: 10px;
  width: 270px; 
  height: 200px; 
  box-shadow: 0px 3px 50px #A5A5A5;
  display: flex;
  flex-direction: column;
  padding: 10px;
} 

.card-header {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.task-container {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #F6F7F8;
}

.icons {
  position: relative;
  margin-top: 70px;  
  left: 210px;
}
*/